@font-face {
	font-family: 'Lexend';
	src: url('./Lexend-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Lexend';
	src: url('./Lexend-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Lexend';
	src: url('./Lexend-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Lexend';
	src: url('./Lexend-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
}
