.wrapper {
	max-width: 1128px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding: 20px 20px;
	background-color: #3498db;
	color: white;
	border-radius: 8px 8px 0 0;
}

.wrapper::before {
	content: '←';
	font-size: 18px;
	margin-right: 10px;
	color: white;
	cursor: pointer;
}

.title {
	font-size: 18px;
	font-weight: bold;
	margin-left: 10px;
}
