.container {
	width: 100%;
	position: relative;
	margin-top: 20px;
}

.input {
	padding: 12px 0 8px;
	font-size: 14px;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	width: 100%;
	transition: border-color 0.2s;

	&:focus {
		border-bottom-color: var(--primary-blue);
	}

	&:focus + .label,
	&:not(:placeholder-shown) + .label {
		top: 0;
		font-size: 11px;
		color: var(--primary-blue);
	}
}

.label {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: 12px;
	color: var(--primary-grey);
	pointer-events: none;
	transition: all 0.2s ease;

	&.alwaysVisible {
		top: -10px;
		transform: none;
		font-size: 11px;
		color: var(--primary-grey);
	}
}

.inputError {
	border-bottom-color: var(--primary-red);
}

.error {
	position: absolute;
	top: 45px;
	right: 0;
	font-size: 12px;
	color: var(--primary-red);
}
