:root {
	//colors
	--primary-white: #fff;
	--primary-blue: #007aff;
	--secondary-blue: #005bb5;
	--primary-grey: #aaa;
	--secondary-grey: #ccc;
	--primary-dark: #333;
	--secondary-dark: #575757;
	--primary-red: #ff0000;
}
